* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  :root {
    --gray:  silver;
    --white: #ededed;
    --laranja: rgb(223, 97, 7);
  }
  colgroup{
    color: turquoise;
  }
  html,
  body {
    width: 100%;
    overflow-x: hidden;
  }

  header {
    width: 100%;
    height: 150px;
    background: var(--gray);
  }
    .brand {
      font-size: 18px;
      cursor: pointer;
      font: bold;
    }
  
  .content {
    max-width: 1000px;
    min-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    
    padding: 10px;    
    position: relative;
    z-index: 10;
    text-decoration: none;
    
  }
  .content video{
    color: var(--laranja);
    display: flex;
    cursor:not-allowed;
    font-size: large 20px;
    font: bold;
    box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.5);
    position: center;
    margin: auto; 
    left: 45%;
    bottom: 70%;
    padding: 10px;
     
  }

  nav {
    width: 100%;
    height: 125px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
  }
  
    
  nav ul {
    display: flex;
    flex-direction: row;
    
  }
  
  nav ul li {
    list-style: none;
    padding: 10px;
    cursor: pointer;
    font: bold;
  }
  
  nav ul li a {
    color: black;
    text-decoration: none;
    font: bold;
  }
  
  nav ul li a:hover {
    color: #00285f83;
  }
  
 
  nav ul button:hover {
    transition: background, color 0.4s;
    background: var(-- gray);
    color: white;
  }
  
  
  
  .header-block img {
    width: 50%;
    position: absolute;
    right: 2%;
    bottom: 2%;
    
  }
  
  button {
    border: 1px solid var(--laranja);
    background: transparent;
    padding: 8px 40px;
    cursor: pointer;
    margin-left: 30px;
    font-weight: bold;
    color: var(--laranja);
    border-radius: 4px;
    border-color: var(--laranja);
  }
  
  button:hover {
    transition: background, color 0.4s;
    background: var(--laranja);
    color: white;
  }


  .header-block .text {
    position: absolute;
    bottom: 55%;
    left: 35%;
  }
  
  .text h2 {
    color: var(--laranja);
    margin-top: 20px;
    text-align: left;
    transform: translateX(-20px);
    transition: transform 0.5s;
    cursor: not-allowed;
    border: black;
    margin-top: 20%;
    margin-left: 10%;
    bottom: 70%;
    padding: 10px;
  }
  
  .text p {
    max-width: 380px;
    color: black;
    text-align: left;
    transform: translateX(-20px);
    cursor: pointer;
    transition: transform 0.4s;
    margin-left: 12%;
  }

    
  .left {
    width: 25%;
    min-width: 300px;
    height: 100%;
    background: #000000a1;
    border-radius: 8px;
  }
  
  .right {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 10%;
  }
  