*

/* Douglas Flexbox Conteiner e Directions*/

.flex-container {
    display: flex;
    background-color: DodgerBlue;
}

.flex-container>div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    
}
.flex-container2 {
    display: flex;
    flex-direction: column;
    background-color: DodgerBlue;
}
.flex-container3 {
    display: flex;
    flex-direction: column-reverse;
    background-color: DodgerBlue;
}
.flex-container3>div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.flex-container2>div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    flex-direction: row;
}



/* Gustavo Oliveira */
#myDIV{
    justify-content: center;
    height:300px;
    background-color:DodgerBlue;
    display: flex;
    justify-content: flex-start;
   
}
#myDIV div {
    width: 80px;
    height: 80px; 
  }
  #myDIV2{
    justify-content: center;
    height:300px;
    background-color:DodgerBlue;
    display: flex;
    justify-content: center;
  }
  #myDIV2 div {
    width: 80px;
    height: 80px; 
  }
  #myDIV3{
    justify-content: center;
    height:300px;
    background-color:DodgerBlue;
    display: flex;
    justify-content: flex-end;
  }
  #myDIV3 div {
    width: 80px;
    height: 80px; 
  }
/* Kaio Lima */
#main1{
  width: 70px;
  height: 300px;
  border: 1px solid #1e07e7;
  display: flex;
  flex-wrap: wrap;
  align-content: right;
}

#main1>div {
  width: 70px;
  height: 70px;
}
#main2{
  width: 70px;
  height: 300px;
  border: 1px solid #07f727;
  display: flex;
  flex-wrap: wrap;
  align-content: left;
}

#main2>div {
  width: 80px;
  height: 80px;
}
#main3{
  width: 70px;
  height: 300px;
  border: 1px solid #dd1a1a;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

#main3>div {
  width: 95px;
  height: 95px;
}

/* Lucas Melo  */
#start{
  width: 220px;
  height: 300px;
  border: 1px solid black; 
  display: flex;
  align-items: flex-start;
}

#start div{
  flex: 1;
  border: 1px solid black;
  display: flex;
  align-items: center;
}

#end {
  width: 220px;
  height: 300px;
  border: 1px solid black; 
  display: flex;
  align-items: flex-end;
}

#end div {
  flex: 1;
  border: 1px solid black;
  display: flex;
  align-items: center;}

#baseline {
  width: 220px;
  height: 300px;
  border: 1px solid black; 
  display: flex;
  align-items: baseline;
  }
  
#baseline div {
  flex: 1;
  border: 1px solid black;
  display: flex;
  align-items: center;}

  #stretch {
    width: 220px;
    height: 300px;
    border: 1px solid black; 
    display: flex;
    align-items: stretch;
  }
  
  #stretch div {
    flex: 1;
    border: 1px solid black;
    display: flex;
    align-items: center;}

/* Estela */

.flex-container {
  display: flex;
  align-items: stretch;
  background-color: #f1f1f1;
}

.flex-container>div {
  background-color: DodgerBlue;
  color: white;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.flex-container {
  display: flex;
  align-items: stretch;
  background-color: #f1f1f1;
}

.flex-container>div {
  background-color: DodgerBlue;
  color: white;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

